.signup{
    height: 100vh;
    background-color:rgb(251, 243, 251);
    display:flex;
    align-items: center;
    justify-content: center;
}
.span{
    color: rgb(236, 147, 203);
    color: rgb(169, 168, 168);
    text-decoration: underline;
    
}
.sign-up-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 100px;
}